body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,button{
	margin:0; 
	padding:0;
}
ul,li,ol{
	list-style:none;
}
a{
	text-decoration:none;
    outline:none;
    color:#333;
}
h1,h2,h3,h4,h5,h6{
	font-weight:100;
}
body{ 
	font-family:"微软雅黑";
	font-size: .32rem;
	color:#333;
	background: #eee;
}
html,body{
	height: 100%;
}
i,em{
	font-style:normal;
}
input,textarea,button,a,span,i,dd,li,div{
	outline:none;
    -webkit-appearance: none;
    tap-highlight-color:rgba(0,0,0,0);
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset !important;
}
img,fieldset{
	border:0; 
}
img{
	display:block;
}