.ant-btn+.ant-btn {
  margin-left: 10px;
}
.btn-default-my {
	height: 20px;
	line-height: 20px;
	background: #fff;
	border-radius: 2px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}